@font-face {
  font-family: RobotoRegular;
  src: url('/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

body {
  color: #5d5d5d;
}

.btn-wrapper {
  position: fixed;
  bottom: 2rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  
  button {
    height: 5rem;
    width: 28rem;
    font-size: 1.75rem;
    background: #ece71f;
    border: 1px solid #dcd81d;
    border-radius: 6px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    &:active {
      transform: scale(0.96);
    }
  }
}

.search-box {
  width: 100%;
  padding: 1rem;
  .close-btn {
    position: absolute;
    right: 14px;
    z-index: 9999999;
    top: 24%;
    svg {
      height: 3rem;
    }
  }
  input {
    width: 100%;
    padding: 1rem;
    height: 4rem;
    font-size: 1.7rem;
  }
}
.back {
  width: 7rem;
  height: 100%;
  background: #000;
  svg {
    fill: #fff;
  }
}
.details-wrapper, .history-wrapper {
  position: absolute;
  width: 100%;
  z-index: 6;
  top: 6rem;
  background: rgba(255, 255, 255, 0.96);
  animation: slideDown 500ms;
  padding: 1rem;
}

.history-wrapper {
  text-align: left;
  max-height: 23rem;
  overflow-y: scroll;
  .history-item {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid #e3e3e3;
    span {
      margin-right: 1rem;
      svg {
        fill: #bdbdbd;
        height: 1.4rem;
      }
    }
  }
}
.md-field {
  margin: initial !important;
}
.two-fields {
  .md-input {
    width: 100% !important;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* during entering and leaving : */
.page-left-enter-active,
.page-left-leave-active {
  position: absolute;
  // max-width: 725.328px; /*make sur our content keep it's original width*/
  width: 100%;
  transition: all 0.2s ease-in;
}

/* entering start */
.page-left-enter {
  left: -100%;
}

/* entering end */
.page-left-enter-to {
  left: 0;
}

/* leaving start */
.page-left-leave {
  opacity: 1;
}

/* leaving end */
.page-left-leave-to {
  opacity: 0;
}

/* during entering and leaving : */
.page-right-enter-active,
.page-right-leave-active {
  position: absolute;
  max-width: 768px; /*make sur our content keep it's original width*/
  transition: all 300ms ease;
}

/* entering start */
.page-right-enter {
  right: -100%;
}

/* entering end */
.page-right-enter-to {
  right: 0;
}

/* leaving start */
.page-right-leave {
  opacity: 1;
}

/* leaving end */
.page-right-leave-to {
  opacity: 0;
}


@keyframes slideDown {
  from {top: -100px; opacity: 0; }
  to {top: 60px; opacity: 1; }
}